<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="greeting">
<head>
    <meta charset="UTF-8" />
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:fragment="headcontent" rel="stylesheet" th:href="@{/webjars/angular-ui/0.4.0/angular-ui.css}" />
    <link th:fragment="headcontent" rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.css}" />

    <script th:fragment="headcontent" th:src='@{/webjars/angularjs/1.2.23/angular.js}'></script>
    <script th:fragment="headcontent" th:src='@{/webjars/angularjs/1.2.23/angular-animate.js}'></script>
    <script th:fragment="headcontent" th:src='@{/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js}'></script>
    <script th:fragment="headcontent" th:src='@{/webjars/rxjs/2.3.9/rx.lite.js}'></script>
    <script th:fragment="headcontent" th:src='@{/webjars/rx-angular/0.0.11/rx.angular.js}'></script>
    <script th:fragment="headcontent" th:src='@{/webjars/cryptojs/3.1.2/components/core.js}'></script>
    <script th:fragment="headcontent" th:src='@{/webjars/cryptojs/3.1.2/components/enc-base64.js}'></script>
</head>
<body>

</body>
</html>