<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="calculate">
<head>
    <link th:substituteby="fragments/head::headcontent" />
    <link rel="stylesheet" th:href="@{resources/css/calculate.css}" />
    <script th:src='@{/webjars/angularjs/1.2.23/angular-sanitize.js}'></script>
    <link th:fragment="headcontent" rel="stylesheet" th:href="@{/webjars/angular-ui/0.4.0/angular-ui.css}" />
    <script th:src="@{resources/js/calculate.js}"></script>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Calculate</a>
        </div>
    </div>
</nav>
<div ng-controller="CalculateCtrl" >
    <alert type="success" ng-show="operation.saveStatus === true">Result saved.</alert>
    <alert type="danger" ng-show="operation.saveStatus === false">Error saving result.</alert>
    <form name="form" class="css-form" novalidate="true" ng-submit="save(operation.operand)">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="number" class="form-control" required="true" ng-model="operation.operand"/>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Save</button>
                      </span>
                </div>
                <!-- /input-group -->
            </div>
        </div>
        <div ng-bind-html="operation.resultPartial">
            <div id="result" class="well well-lg" th:text="${#numbers.formatDecimal(result, 1, 2)}">
                Please enter a valid number
            </div>
        </div>

    </form>
</div>
</body>
</html>